<%= devise_error_messages! %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :email %>
  <%= f.email_field :email %>
</p>
<p>
  <%= f.label :password %>
  <% if resource.persisted? %>
    <i>(leave blank if you don't want to change it)</i>
  <% end %>
	<%= f.password_field :password, autocomplete: "off" %>
</p>
<p>
  <%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation, autocomplete: "off" %>
</p>

<% if resource.persisted? %>
	<p>
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </p>
<% end %>

<p>
  <%= f.label :home_neighborhood_id %>
  <%= f.select :home_neighborhood_id, Neighborhood.all.map{ |n| [n.name, n.id] } %>
</p>
<p>
  <%= f.label :work_neighborhood_id %>
  <%= f.select :work_neighborhood_id, Neighborhood.all.map{ |n| [n.name, n.id] } %>
</p>