<div id="main_content_wrap" class="container">
  <section id="main_content" class="inner col-md-6 col-md-offset-3">
    <%= form_for [@ride.neighborhood, @ride] do |f| %>
      <%= f.hidden_field :neighborhood_id %>
      
      <input id="geocomplete" type="text" placeholder="Type in an address" value="" />
      <input id="find" type="button" value="find" class="btn btn-default"/>
      
      <fieldset>
        <h3>Start</h3>
        <label>Latitude</label>
        <%= f.hidden_field :lat_a, id: 'lat_a' %>

        <label>Longitude</label>
        <%= f.hidden_field :lon_a, id: 'lon_a' %>

        <label>Formatted Address</label>
        <input name="formatted_address" type="text" value="" >
        
        <%= f.label :has_car %>
        <%= f.check_box :has_car %>

<!--         <%= f.submit class: "btn-lg btn-success btn" %>
 -->      </fieldset>
      <fieldset>
            <input id="geocomplete_end" type="text" placeholder="Type in an address" value="" />
      <input id="find_end" type="button" value="find" class="btn btn-default"/>

        <h3>End</h3>
        <%= f.hidden_field :lat_b, id: 'lat_b' %>
        <%= f.hidden_field :lon_b, id: 'lon_b' %>

        <label>Formatted Address</label>
        <input name="formatted_address_end" type="text" value="" id='formatted_address_end'>
      
        <%= f.submit class: "btn-lg btn-success btn" %>
      </fieldset>
    <% end %>
  </section>
</div>

<script>
  $(function(){
    $("#geocomplete").geocomplete({
      details: "form",
      types: ["geocode", "establishment"]
    });
    
    $("#find").click(function(){
      $("#geocomplete").trigger("geocode");
    });

    $("#geocomplete").geocomplete().geocomplete().bind("geocode:result", function(event, result){
        console.log(result.formatted_address);
        console.log(result.geometry.location.A);
        console.log(result.geometry.location.k);

        $("#lat_a").val(result.geometry.location.A);
        $("#lon_a").val(result.geometry.location.k);
        // console.log(result);
    });

    $("#find_end").click(function(){
      $("#geocomplete_end").trigger("geocode");
    });

    $("#geocomplete_end").geocomplete().geocomplete().bind("geocode:result", function(event, result){
        // console.log(result.formatted_address);
        // console.log(result.geometry.location.A);
        // console.log(result.geometry.location.k);

        $("#lat_b").val(result.geometry.location.A);
        $("#lon_b").val(result.geometry.location.k);
        $("#formatted_address_end").val(result.formatted_address);
        // console.log(result.formatted_address);
        // console.log(result);
    });
    

    
    
  });
</script>