<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    <%= form_for @ride do |f| %>
      <div class="form-group">
        <label class="control-label">From</label>
        <input id="geocomplete" type="text" placeholder="Type in an address" value="Empire State Bldg" />
        <input id="find" type="button" value="find" />
      </div>
      
      <div class="form-group">
        <label class="control-label">To</label>
        <input id="geocomplete2" type="text" placeholder="Type in an address" value="Empire State Bldg" />
        <input id="find2" type="button" value="find" />
      </div>
      
      <fieldset>
        <div class="form-group">
          <%= f.label :has_car %>
          <%= f.check_box :has_car %>
        </div>
        
        <div class="form-group">
          <%= f.label :leave_at %>
          <%= f.text_field :leave_at %>
        </div>
        
        <div class="form-group">
          <%= f.label :return_at %>
          <%= f.text_field :return_at %>
        </div>
        
        <div class="form-group">
          <%= f.label :message %>
          <%= f.text_area :message %>
        </div>
        <%= f.submit %>
      </fieldset>
    <% end %>
  </section>
</div>

<script>
  $(function(){
    $("#geocomplete").geocomplete().geocomplete().bind("geocode:result", function(event, result){
        console.log(result.formatted_address);
        console.log(result.geometry.location.A);
        console.log(result.geometry.location.k);
        console.log(result);
    });
    
    $("#geocomplete2").geocomplete().geocomplete().bind("geocode:result", function(event, result){
        console.log(result.formatted_address);
        console.log(result.geometry.location.A);
        console.log(result.geometry.location.k);
        console.log(result);
    });
    
    $("#find").click(function(){
      $("#geocomplete").trigger("geocode");
    });
    
    $("#find2").click(function(){
      $("#geocomplete").trigger("geocode");
    });
  });
</script>